<!-- your html code here -->
<h1>Contact</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo
    cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="align-items-center">
    <form class="w-50 mx-auto bg-secondary ">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"><b>Your E-mail</b></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"><b>Your message</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Please enter your message here..."></textarea>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>