<!-- your html code here -->

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-8 ">
            <div class="card-body">
                <h1 class="card-title"><b>This First Heading</b><span class="text-secondary"> Will Catch Your Eye</span></h1>
                
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum
                    aliquet imperdiet. Donec vehicula scelerisque velit eu tristique. Praesent tristique convallis erat.
                    Morbi et efficitur leo, ac placerat nisl. Vivamus.</p>
            </div>
        </div>
        <div class="col-md-4 p-4">
            <img src="assets/img/1.jpg" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
