<!-- your html code here -->
<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="assets/img/2.jpg" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h1 class="card-title"><b>The Second Heading</b><span class="text-secondary"> Is Pretty Cool Too</span>
                </h1>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum interdum
                    aliquet imperdiet. Donec vehicula scelerisque velit eu tristique. Praesent tristique convallis erat.
                    Morbi et efficitur leo, ac placerat nisl. Vivamus.</p>
            </div>
        </div>
    </div>
</div>